<div class="row">
    <div class="col-md-12">
        <div class="form userInfo">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="" class="control-label">学号:</label>
                        <span ng-bind="vm.student_id"></span>
                    </div>
                    <div class="col-md-3">
                         <label for="" class="control-label">姓名:</label>
                         <span ng-bind="vm.student_name"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="vm.status==1">
                <label for="" class="control-label">性别:</label>
                <input type="radio" name="sex" ng-checked="vm.sex=='1'" ng-model="vm.sex" ng-value="1">女
                <input type="radio" name="sex" ng-checked="vm.sex=='0'" ng-model="vm.sex" ng-value="0">男
            </div>
            
            <div class="form-group" ng-if="vm.status==1">
                <label for="" class="control-label" required>邮箱:</label>
                <input type="email" class="form-control" ng-model="vm.mail">
            </div>
            <div class="form-group" ng-if="vm.status==1">
                <label for="" class="control-label">联系方式:</label>
                <input type="tel" class="form-control" ng-model="vm.tel">
            </div>
            <div class="form-group" ng-if="vm.status==1">
                <label for="" class="control-label">我の标签:</label>
            </div>
            <div class="form-group" ng-if="vm.status==1">
                <textarea rows="8" cols="60" ng-model="vm.text"></textarea>
            </div>

            <div class="form-group" ng-if="vm.status==1">
                <input class="col-sm-1 btn btn-info" type="submit" class="form-control" value="保存" ng-disabled="form.$invalid" ng-click="vm.update()">
                <input class="col-sm-offset-1 col-sm-1 btn btn-info" type="button" class="form-control" value="取消" ng-click="vm.reset()">
            </div>
            <div class="loader" ng-if="vm.status==0">加载中...</div>
        </div>
    </div>
</div>
